* {
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}
body {
  height: 100vh;
  padding: 10px;
  background-color: #202121;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 10px 10px 30px;
  width: 500px;
  min-width: 450px;
  background-color: #292a2b;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-right: 2px solid #202121;
}
.container-input h1 {
  font-size: 40px;
}
.container-input form {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}
.container-input fieldset {
  border: none;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}
.container-result {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
#imc-result {
  font-size: 50px;
  color: #8257e6;
}
input {
  margin-top: 4px;
  width: 150px;
  color: #8257e6;
  font-weight: bold;
  background-color: #202121;
  border-color: #202121;
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;
  outline: none;
}
input:hover,
input:focus {
  border-color: #8257e6;
}
button {
  font-weight: bold;
  background-color: #202121;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: none;
}
button:hover,
button:focus {
  background-color: #8257e6;
  transition: 0.3s ease-in-out;
}

.danger {
  color: #d61839;
}
.alert {
  color: #ffdc5d;
}
.nice {
  color: #04d361;
}

@media (max-width: 470px) and (min-width: 1px) {
  .container {
    flex-direction: column;
    border: none;
  }
  .container-input {
    border: none;
    border-bottom: 2px solid #202121;
  }
  body {
    background-color: #292a2b;
  }
}
